In [152]:
import pandas as pd
import csv

In [153]:
df1=pd.read_csv('Census_tracts_data_2010_temp.csv')
df1.head()

       Census_Tract      County_Name State_Name state county  tract
0  Census Tract 201   Autauga County    Alabama     1      1  20100
1  Census Tract 202   Autauga County    Alabama     1      1  20200
2  Census Tract 203   Autauga County    Alabama     1      1  20300
3  Census Tract 204   Autauga County    Alabama     1      1  20400
4  Census Tract 205   Autauga County    Alabama     1      1  20500

In [154]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73058 entries, 0 to 73057
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Census_Tract  73058 non-null  object
 1   County_Name   73058 non-null  object
 2   State_Name    73058 non-null  object
 3   state         73058 non-null  object
 4   county        73058 non-null  object
 5   tract         73058 non-null  object
dtypes: object(6)
memory usage: 3.3+ MB

In [155]:
#appending zeros to the leading numbers based on the requirement using the zfill()
df1['state']=df1['state'].apply(lambda x: x.zfill(2))
df1['county']=df1['county'].apply(lambda x: x.zfill(3))
df1['tract']=df1['tract'].apply(lambda x: x.zfill(6))

df1.head()

       Census_Tract      County_Name State_Name state county   tract
0  Census Tract 201   Autauga County    Alabama    01    001  020100
1  Census Tract 202   Autauga County    Alabama    01    001  020200
2  Census Tract 203   Autauga County    Alabama    01    001  020300
3  Census Tract 204   Autauga County    Alabama    01    001  020400
4  Census Tract 205   Autauga County    Alabama    01    001  020500

In [156]:
#concatinating the state,county,tract codes to get the full length census tract code which is 11 digits
df1['Full_census_tract_code']=df1['state']+df1['county']+df1['tract']

df1.head()

,Census_Tract,County_Name,State_Name,state,county,tract,Full_census_tract_code
0,Census Tract 201,Autauga County,Alabama,01,001,020100,01001020100
1,Census Tract 202,Autauga County,Alabama,01,001,020200,01001020200
2,Census Tract 203,Autauga County,Alabama,01,001,020300,01001020300
3,Census Tract 204,Autauga County,Alabama,01,001,020400,01001020400
4,Census Tract 205,Autauga County,Alabama,01,001,020500,01001020500

In [157]:
#formating the data to store the appended zeros at the leading nu bers so that we can see the numbers as expected when exporting the data file
df1['state'] = df1['state'].apply('="{}"'.format)
df1['county'] = df1['county'].apply('="{}"'.format)
df1['tract'] = df1['tract'].apply('="{}"'.format)
df1['Full_census_tract_code'] = df1['Full_census_tract_code'].apply('="{}"'.format)
df1.head()

,Census_Tract,County_Name,State_Name,state,county,tract,Full_census_tract_code
0,Census Tract 201,Autauga County,Alabama,"=""01""","=""001""","=""020100""","=""01001020100"""
1,Census Tract 202,Autauga County,Alabama,"=""01""","=""001""","=""020200""","=""01001020200"""
2,Census Tract 203,Autauga County,Alabama,"=""01""","=""001""","=""020300""","=""01001020300"""
3,Census Tract 204,Autauga County,Alabama,"=""01""","=""001""","=""020400""","=""01001020400"""
4,Census Tract 205,Autauga County,Alabama,"=""01""","=""001""","=""020500""","=""01001020500"""

In [158]:
df1.to_excel('Census_tracts_data_2010_temp_full_tractcode_test.xlsx',index=False)